.rotate-wrap {
  position: relative;
  width: 100%;
  padding-top: 2%;
  background-color: rgba(241, 55, 200, 0.6);
  .turntable-bottom {
    position: relative;
    width: 75%;
    padding-bottom: calc(75% / 718 * 718);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    .turntable-center {
      position: absolute;
      width: 88%;
      top: 4%;
      left: 4.7%;
      padding-bottom: calc(88% / 640 * 636);
      background-size: 100% auto;
      background-repeat: no-repeat;
      // transform: rotate(45deg);
      // animation: rotate 5s linear infinite;
      // transform-origin: center;
      // @keyframes rotate {
      //   0% {
      //     transform: rotate(0deg);
      //   }
      //   100% {
      //     transform: rotate(360deg);
      //   }
      // }
    }
    .turntable-top {
      position: absolute;
      width: 11%;
      left: 43%;
      top: 42.5%;
      padding-bottom: calc(11% / 99 * 98);
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
}
