.map-wrap {
  position: absolute;
  top: 8%;
  width: 90%;
  height: 50vh;
  background-color: rgb(255, 245, 237);
  background-color: linear-gradient(
    90deg,
    rgba(255, 245, 237, 1) 0%,
    rgba(255, 210, 186, 1) 53%,
    rgba(255, 209, 188, 1) 100%
  );
  transform: translateX(-50%);
  left: 50%;
  border-radius: 10px;
  z-index: 3;
  .google-map {
    width: 90%;
    height: 42vh;
    margin-top: 4vh;
    margin-left: 5%;
    .close {
      position: absolute;
      top: 0;
      right: 0%;
      width: 8%;
      padding-bottom: calc(8% / 1280 * 1280);
      background-size: 100% auto;
      background-repeat: no-repeat;
      &:hover {
        width: 9%;
        padding-bottom: calc(9% / 1280 * 1280);
        cursor: pointer;
      }
    }
  }
}
