.title-wrap {
  position: relative;
  padding-top: 5%;
  width: 100%;
  z-index: 2;

  .title {
    position: relative;
    left: 50%;
    padding-bottom: calc(65% / 2334 * 825);
    width: 65%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: translateX(-50%);
  }
}
