.event-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .bg {
    position: absolute;
    width: 100%;
    min-width: 480px;
    height: 100%;
    background-position: center top;
    background-repeat: repeat;
  }
}
